ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: steelblue;
}

li {
  float: left;
}

li .a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .a:hover {
  background-color: #111;
}

.dark-mode ul {
  background-color: #1b2938;

}