.body {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1px;
}
h2 {
  text-align: center;
}

.form {
  margin: 10px auto;
  /* background-color: deeppink; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 50%;
  border: 1px solid saddlebrown;

}
.form label {
  margin-right: 10px;
  margin-bottom: 10px;
}

.submitBtn {
  margin: 10px auto;
}