.container {
  width: 800px;
  /* margin: 30px auto ; */
  /* margin-top: 5%; */
}
.body {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1px;
}
h2 {
  text-align: center;
}
/* .tugas10 th {
  background-color: deeppink;
}
.tugas10 tr {
  background-color: darkorange;
} */
.tugas10 th, td {
  border: 1px solid #333;
}